:root {
    --orange: hsl(26, 100%, 55%);
    --paleorange: hsl(25, 100%, 94%);
    --verydarkblue: hsl(220, 13%, 13%);
    --darkgrayishblue: hsl(219, 9%, 45%);
    --grayishblue: hsl(220, 14%, 75%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    /*with 75% opacity for lightbox background */
    --switcher: hidden;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--white);


}



hr {
    width: 85%;
    margin: 0 auto;
}

.lightBox {

    visibility: var(--switcher);
    opacity: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 999;
    /* transition: opacity 1s ease, visibility 1s ease;*/
    transition: opacity 1s ease;

}

.lightBox .closeSvg {

    margin-bottom: 5px;
    display: flex;
    justify-content: flex-end;

}

.lightBox .closeSvg img {

    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(330deg) brightness(109%) contrast(101%);
}

.lightBox .closeSvg img:hover {
    filter: invert(60%) sepia(98%) saturate(2626%) hue-rotate(347deg) brightness(101%) contrast(101%);
    cursor: pointer;

}



.lightBox.visible {

    visibility: visible;
    opacity: 1;
    /* transition: opacity 1s ease, visibility 1s ease; */
    transition: opacity 1s ease;
}

.lightBox .imageContainerbox i {

    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 50%;
    /* cursor: pointer; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);

}

.lightBox .imageContainerbox i:hover {

    cursor: pointer;
    color: var(--orange);
}

.lightBox .imageContainerbox i:first-child {

    right: 28.5rem;
}

.lightBox .imageContainerbox i:last-child {

    left: 28.5rem;
    ;
}


.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0 8rem;


}

.header::after {

    content: '';
    visibility: var(--switcher);
    opacity: 0;
    position: absolute;
    inset: 0;
    background: var(--black);
    opacity: 0.7;
    z-index: 99;
    /* transition: opacity 1s ease, visibility 1s ease; */
    transition: opacity 1s ease;
}

.header.visible::after {
    visibility: visible;
    opacity: 0.7;
    transition: opacity 1s ease;

}


.header ul {

    display: flex;
    list-style: none;
    gap: 30px;
}

.header ul li a {

    text-decoration: none;
    font-size: 18px;
    position: relative;
    color: var(--grayishblue);
    opacity: 1;
    transition: opacity 1s ease;

}


.header ul li a:hover {

    color: var(--black);


}

.header ul li a::after {

    content: '';
    display: block;
    opacity: 0;
    width: 100%;
    height: 2px;
    background: var(--orange);
    position: absolute;
    top: 50px;
    transition: opacity 0.2s ease;
}

.header ul li a:hover::after {

    opacity: 1;

}

.header .CartAvatarContainer {

    display: flex;
    align-items: center;
    gap: 20px;

}

.header .CartAvatarContainer svg {

    cursor: pointer;
}


.header .CartAvatarContainer .myCartItems {


    opacity: 0;
    height: auto;
    width: 300px;
    background-color: var(--white);
    position: fixed;
    top: 5rem;
    right: 9rem;
    /* padding: 10px; */
    border-radius: 10px;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    transition: opacity 0.3s ease-out;
}

.header .CartAvatarContainer .myCartItems .cartTxt {
    padding: 10px;
}

.header .CartAvatarContainer .myCartItems .emptyCart {

    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    color: var(--grayishblue);
}


.header .CartAvatarContainer .myCartItems.show {

    opacity: 1;
}

.header .CartAvatarContainer .myCartItems hr {

    margin-top: 1.2rem;
    width: 100%;
    color: var(--paleorange);
}

.checkoutItems {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    justify-content: center;
    align-items: center;
}

.checkOut {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
    width: auto;
}

.checkOut-Img img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.checkOut .checkOutTxt {
    display: flex;

}

.checkOut .checkOut-text p {
    font-size: 12px;
}


.checkoutItems .checkOutBtn {

    width: 90%;
    height: 3rem;
    background-color: var(--orange);
    border: none;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    margin-bottom: 1rem;
    cursor: pointer;
}

.header .CartAvatarContainer .imgAvatar img:hover {

    cursor: pointer;
    box-shadow: 0 0 0 3px var(--orange);
    border-radius: 50%;
}

.MainContainer .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 5rem;

}

.MainContainer .hero .imageContainer,
.lightBox .imageContainerbox {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.MainContainer .hero .imageContainer img,
.lightBox .imageContainerbox img {

    background-color: transparent;
    transition: background-color 0.2s ease, opacity 0.2s ease;
}

.MainContainer .hero .imageContainer img:hover,
.lightBox .imageContainerbox img:hover {

    cursor: pointer;
    background-color: var(--grayishblue);
    /* opacity: 0.7; */
    box-shadow: 0 0 0 3px var(--orange);
}



.MainContainer .hero .imageContainer .Main-image,
.lightBox .imageContainerbox .Main-image {
    display: flex;
    justify-content: flex-end;
}

.MainContainer .hero .imageContainer .Main-image img,
.lightBox .imageContainerbox .Main-image img {

    width: 30rem;
    height: 30rem;
    border-radius: 10px;
    background-color: none;
}

.MainContainer .hero .imageContainer .thumbNails {

    display: flex;
    justify-content: space-between;
    width: 100%;
}

.active {

    opacity: 0.5;
    box-shadow: 0 0 0 3px var(--orange);
}

.active2 {

    filter: brightness(50%);
    box-shadow: 0 0 0 3px var(--orange);
}


/*imageContainerbox thumbNail width style*/

.lightBox .imageContainerbox .thumbNails {

    display: flex;
    justify-content: space-between;
    width: 30rem;
}

/*================================================*/

.lightBox .imageContainerbox .thumbNails {

    display: flex;
    justify-content: space-between;
}

.MainContainer .hero .imageContainer .thumbNails img,
.lightBox .imageContainerbox .thumbNails img {


    border-radius: 15px;
    width: 6rem;
    height: 6rem;
}



.MainContainer .hero .ProductInfo {

    display: flex;
    flex-direction: column;
    max-width: 600px;

}

.MainContainer .hero .ProductInfo .firstP {
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 20px;
    color: var(--darkgrayishblue);
}

.MainContainer .hero .ProductInfo h1 {
    font-size: 3rem;
    margin-bottom: 40px;
}

.MainContainer .hero .ProductInfo .description {
    font-size: 15px;
    color: var(--grayishblue);
    max-width: 50%;
    margin-bottom: 30px;
    line-height: 1.5rem;
}

.MainContainer .hero .ProductInfo .PriceContainer {

    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.MainContainer .hero .ProductInfo .PriceContainer .Price {

    font-size: 20px;
    font-weight: 800;

}

.MainContainer .hero .ProductInfo .PriceContainer .discount {

    height: 30px;
    width: 50px;
    background-color: var(--verydarkblue);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 800;
    border-radius: 5px;
}

.MainContainer .hero .ProductInfo .oldPrice {

    color: var(--grayishblue);
    font-size: 15px;
    text-decoration: line-through;
    font-weight: 600;
    margin-bottom: 20px;

}

.MainContainer .hero .ProductInfo .AddTocardContainer {

    display: flex;
    gap: 20px;
}

.MainContainer .hero .ProductInfo .AddTocardContainer .ItemsNumber {
    display: flex;
    gap: 10px;
    background-color: var(--grayishblue);
    padding: 5px;
    border-radius: 5px;

}

.MainContainer .hero .ProductInfo .AddTocardContainer .ItemsNumber .item1,
.item2,
.item3 {
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 20px;
}

.MainContainer .hero .ProductInfo .AddTocardContainer .ItemsNumber .item1:hover,
.MainContainer .hero .ProductInfo .AddTocardContainer .ItemsNumber .item3:hover {

    cursor: pointer;

}

.MainContainer .hero .ProductInfo .AddTocardContainer .btn {

    width: 10rem;
    background-color: var(--orange);
    border: none;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    transition: background-color 0.2s ease;
}

.MainContainer .hero .ProductInfo .AddTocardContainer .btn:hover {

    cursor: pointer;
    background-color: var(--paleorange);
}